body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
    font-family:Arial;
}

.container{
    text-align:center;
}

/* hide checkbox */
#switch{
    display:none;
}

/* BULB */
.bulb{
    display:block;
    width:140px;
    height:140px;
    background:#111;
    border-radius:50%;
    margin:auto;
    position:relative;
    box-shadow:none;
    cursor:pointer;
}

/* bulb holder */
.bulb::after{
    content:"";
    position:absolute;
    bottom:-35px;
    left:45px;
    width:50px;
    height:35px;
    background:silver;
    border-radius:5px;
}

/* ON STATE */
#switch:checked ~ .container .bulb{
    background:white;
    box-shadow:
        0 0 20px white,
        0 0 40px white,
        0 0 60px yellow,
        0 0 80px yellow;
}

/* BUTTON */
.btn{
    display:inline-block;
    margin-top:60px;
    padding:10px 25px;
    background:white;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}

.off{
    display:none;
}

/* change text */
#switch:checked ~ .container .on{
    display:none;
}
#switch:checked ~ .container .off{
    display:inline;
}